.title {
  color: gray;
  padding: 0.7rem;
}

.logoBrand {
  margin-right: 0rem;
  outline: none;
}

.logoBrandTop {
  margin-left: -7rem;
  outline: none;
}

.hbnIYc {
  width: 190rem !important;
  left: -35rem !important;
}

.eIObDA {
  padding-left: 3rem;
}

.navLinks {
  outline: none;
  text-decoration: none;
}

.navLinks li a {
  outline: none;
}

.socialMedia {
  margin: auto;
  margin-right: 1rem;
}
@media (max-width: 669px) {
  .socialMedia {
    display: none;
  }
}

.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-discord {
  color: #7289da;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-discord {
  height: 40px;
  margin: 5px;
  padding: 5px;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-discord:hover {
  color: white;
}

/* .kFfSTi a {
    color: #69b7d6 !important;
  }
   */
