.title {
  color: gray;
  padding: 0.7rem;
}

.logoBrand {
  margin-right: 0rem;
  outline: none;
}

.logoBrandTop {
  margin-left: -7rem;
  outline: none;
}

.hbnIYc {
  width: 190rem !important;
  left: -35rem !important;
}

.eIObDA {
  padding-left: 3rem;
}

.navLinks {
  outline: none;
  text-decoration: none;
}

.navLinks li a {
  outline: none;
}

/* .kFfSTi a {
    color: #69b7d6 !important;
  }
   */
