.logoBrand {
  margin-right: -10rem;
  outline: none;
}

.logoBrandTop {
  margin-left: -7rem;
  outline: none;
}

.jtFsLr {
  margin-bottom: 2rem;
}

.navLinks {
  outline: none;
}

.navLinks li a {
  outline: none;
}
/* .kFfSTi a {
    color: #69b7d6 !important;
  }
   */
