* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding-top: 8em;
  padding-bottom: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px; /* height of your footer */
}
@media (max-width: 669px) {
  .container {
    padding-top: 3em;
  }
}

.page {
  padding-bottom: 10rem;
  min-height: 40vh;
}
@media (max-width: 669px) {
  .page {
    min-height: 68vh;
  }
}
